/* 字体设置 */
Application, Validator.errorTip, AccordionHeader {
	font-size: 12px;
	font-family: Simsun;
}
Accordion
{
	headerStyleName: accordionHeader;
}
.accordionHeader
{
	font-size: 16;
	padding-top: 4;
	padding-bottom: 4;
}
