/* CSS file */
Button.gameButton {
    fontSize: 12px;
    fontWeight: normal;
    color: #FFFFFF;
    textRollOverColor: #FFFF00;
    textSelectedColor:#E1D700;
    disabledColor:#4C4A12;

    upSkin: ClassReference(null);
    overSkin: ClassReference(null);
    downSkin: ClassReference(null);
    disabledSkin: ClassReference(null);
    selectedUpSkin: ClassReference(null);
    selectedOverSkin: ClassReference(null);
    selectedDownSkin: ClassReference(null);
    selectedDisabledSkin: ClassReference(null);
    skin: Embed(skinClass='Button_skin');
}
Button.gameSettingButton {
    fontSize: 12px;
    fontWeight: normal;
    color: #FFFFFF;
    textRollOverColor: #FFFF00;
    textSelectedColor:#E1D700;
    disabledColor:#4C4A12;

    upSkin: ClassReference(null);
    overSkin: ClassReference(null);
    downSkin: ClassReference(null);
    disabledSkin: ClassReference(null);
    selectedUpSkin: ClassReference(null);
    selectedOverSkin: ClassReference(null);
    selectedDownSkin: ClassReference(null);
    selectedDisabledSkin: ClassReference(null);
    skin: Embed(skinClass='SettingButton_skin');
}
