/* CSS file */
Button.gameButton {
    skin: Embed(skinClass='Button_skin');
    fontSize: 12;
    color: #FFFFFF;
    textRollOverColor: #FFFFFF;
    textSelectedColor: #FFFFFF;
    fontWeight: normal;
    textDecoration: none;
}
Button.gameSettingButton {
    fontWeight: normal;
    fontSize: 12;
    color: #FFD7D7;
    textRollOverColor: #FFFFFF;
    textSelectedColor: #FFA0A0;
    disabledColor: #6E0D0D;

    skin: Embed(skinClass='SettingButton_skin');
}
